.container{
  max-width: 1200px;
  min-height: 100vh;
  background: rgb(128, 126, 126);
  padding: 30px;
  margin: 0 auto;
}
.posts{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  gap: 30px;

}
.post{
  background: white;
  box-shadow: 0 0 10px black;
  transition: transform 100ms ease-in-out;
}
.post:hover{
  transform:scale(1.05)

}
.post img{
  max-width: 100%;
}

.post-content{
  padding:30px;
}

.botao {
  background-color: #080808;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin-bottom: 20px;
  align-items: flex-end;
}
.intup{
  margin-bottom: 16px;
  display: flex;
  width: 25%;
  }
